<script setup>
  // Para evitar conflictos con los acentos {'á':'a','é':'e','í':'i','ó':'o','ú':'u','Á':'A','É':'E','Í':'I','Ó':'O','Ú':'U'};
  // se podria hacer un Regex, pero es mejor recomendable codificar en ingles para evitar estos conflictos
  const pathogens = [
    {
      nombre: 'Salmonella',
      id: 1,
      descripcion: 'La infección por salmonela (salmonelosis) es una enfermedad bacteriana frecuente que afecta el aparato intestinal. La bacteria de la salmonela generalmente vive en los intestinos de animales y humanos y se libera mediante las heces. Los humanos se infectan con mayor frecuencia mediante el agua o alimentos contaminados.'
    },
    {
      nombre: 'Escherichia coli',
      id: 2,
      descripcion: '(E. coli) es una bacteria presente frecuentemente en el intestino distal de los organismos de sangre caliente. La mayoría de las cepas de E. coli son inocuas, pero algunas pueden causar graves intoxicaciones alimentarias.'
    },
    {
      nombre: 'Staphylococcus aureus',
      id: 3,
      descripcion: 'Staphylococcus aureus es la más peligrosa de todas los estafilococos, de los que existen muchos tipos. Estas bacterias grampositivas en forma de esfera (cocos) a menudo causan infecciones en la piel, pero pueden causar neumonía, infecciones de las válvulas cardíacas e infecciones óseas.'
    },
    {
      nombre: 'Lysteria monocytogenecis',
      id: 4,
      descripcion: 'Una enfermedad transmitida por los alimentos causada por la bacteria listeria monocytogenes. Se estima que 1600 personas contraen la listeriosis cada año y que aproximadamente 260 mueren por la enfermedad. Es más probable que la infección enferme a mujeres embarazadas y sus recién nacidos, adultos de 65 años o mayores y personas con el sistema inmunitario debilitado.'
    }
  ]
  // https://www.vuemastery.com/pdf/Vue-3-Cheat-Sheet.pdf
  let orderPathogens = computed(() => {
    return pathogens.sort((a, b) => a.nombre.localeCompare(b.nombre));
  })
</script>

<template lang="">
  <div class="min-h-screen">
    <div class="container">
      <TitlePage title="Ejercicio 2" />

      <!-- Tabla -->
      <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="py-3 px-6">
                Id
              </th>
              <th scope="col" class="py-3 px-6">
                Nombre
              </th>
              <th scope="col" class="py-3 px-6">
                Descripción
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(pathogen, index) in orderPathogens" :key="index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ pathogen.id }}
              </th>
              <td class="py-4 px-6">
                {{ pathogen.nombre }}
              </td>
              <td class="py-4 px-6">
                {{ pathogen.descripcion }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
</style>
