<script setup>
const router = useRoute();
let formSeesion = ref({
  userName: '',
  phone: '',
  email: '',
});
let formLocal = ref({
  typeUser: '',
  tipography: '',
  size: '',
  colorThemeOne: '#FA0000',
  colorThemeOTwo: '#FA0000',
  colorThemeOThree: '#FA0000',
});

onMounted(() => {
  saveUserIdInCookie(router.query.user);
});

const saveUserIdInCookie = (userId) => {
  document.cookie = `cookie=${userId}`;
  console.log(document.cookie);
  console.log(getCookiee("cookie"));
};

const getCookiee = (cname) => {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for (let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == " ") {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
};

const saveSeesionStorage = (userName, phone, email) => {
  sessionStorage.setItem('userName', userName);
  sessionStorage.setItem('phone', phone);
  sessionStorage.setItem('email', email);
};
const saveLocalStorage = (typeUser, tipography, size, colorThemeOne, colorThemeOTwo, colorThemeOThree) => {
  localStorage.setItem('typeUser', typeUser);
  localStorage.setItem('tipography', tipography);
  localStorage.setItem('size', size);
  localStorage.setItem('colorThemeOne', colorThemeOne);
  localStorage.setItem('colorThemeOTwo', colorThemeOTwo);
  localStorage.setItem('colorThemeOThree', colorThemeOThree);
};
const getSeesionStorage = () => {
  let userNameSS = sessionStorage.getItem('userName');
  let phoneSS = sessionStorage.getItem('phone');
  let emailSS = sessionStorage.getItem('email');
  console.log(`SeesionStorage: userName: ${userNameSS}, phone: ${phoneSS}, email: ${emailSS}, `);
};
const getLocalStorage = () => {
  let typeUserLS = localStorage.getItem('typeUser');
  let tipographyLS = localStorage.getItem('tipography');
  let sizeLS = localStorage.getItem('size');
  let colorThemeOneLS = localStorage.getItem('colorThemeOne');
  let colorThemeOTwoLS = localStorage.getItem('colorThemeOTwo');
  let colorThemeOThreeLS = localStorage.getItem('colorThemeOThree');
  console.log(
    `LocalStorage: typeUser: ${typeUserLS}, tipography: ${tipographyLS}, size: ${sizeLS}, colorThemeOne: ${colorThemeOneLS}, `+
    `colorThemeOTwo: ${colorThemeOTwoLS}, colorThemeOThree: ${colorThemeOThreeLS} `
  );
};
const saveDataSession = () => {
  saveSeesionStorage(
    formSeesion.value.userName,
    formSeesion.value.phone,
    formSeesion.value.email
  );
  getSeesionStorage();
};
const saveDataLocal = () => {
  saveLocalStorage(
    formLocal.value.typeUser,
    formLocal.value.tipography,
    formLocal.value.size,
    formLocal.value.colorThemeOne,
    formLocal.value.colorThemeOTwo,
    formLocal.value.colorThemeOThree
  );
  getLocalStorage();
};
</script>

<template lang="">
  <div class="min-h-screen">
    <div class="container">
      <TitlePage title="Ejercicio 4" />

      <!-- session Storage -->
      <div class="pb-5">
        <TitlePage title="Guardar en Session Storage" />
        <form @submit.prevent="saveDataSession()">
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label for="userName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Nombre de usuario
              </label>
              <input
                v-model="formSeesion.userName"
                type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="John"
                required
              >
            </div>
            <div>
              <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Telefono
              </label>
              <input
                v-model="formSeesion.phone"
                type="number"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="968 112 4595"
                required
              >
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Email
              </label>
              <input
                v-model="formSeesion.email"
                type="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="example@gmail.com"
                required
              >
            </div>
            <div class="mt-auto">
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- local Storage -->
      <div class="pb-5">
        <TitlePage title="Guardar en Local Storage" />
        <form @submit.prevent="saveDataLocal()">
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label for="typeUser" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Tipo de usuario
              </label>
              <input
                v-model="formLocal.typeUser"
                type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Administrador"
                required
              >
            </div>
            <div>
              <label for="tipography" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Tipografia
              </label>
              <input
                v-model="formLocal.tipography"
                type="text"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Helvetica"
                required
              >
            </div>
            <div>
              <label for="size" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Tamaño
              </label>
              <input
                v-model="formLocal.size"
                type="number"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="15"
                required
              >
            </div>
            <div>
              <label for="colorThemeOne" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Tema 1 de color
              </label>
              <input
                v-model="formLocal.colorThemeOne"
                type="color"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              >
            </div>
            <div>
              <label for="colorThemeOTwo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Tema 2 de color
              </label>
              <input
                v-model="formLocal.colorThemeOTwo"
                type="color"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              >
            </div>
            <div>
              <label for="colorThemeOThree" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Tema 3 de color
              </label>
              <input
                v-model="formLocal.colorThemeOThree"
                type="color"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              >
            </div>
            <div class="mt-auto">
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
</style>
