<script setup>
  // Para manejar los textos dinamicos entre idiomas, se puede usar un json bajo la misma estructura, url diferentes o tambien podemos hacer uso de i18n
  let position = ref(0)
  // 0 spanish
  // 1 english
  const languages = [
    {
      lang: 'es',
      context: {
        welcome: 'Coordinemos una reunión para encontrar la mejor solución para sus necesidades.',
        question: '¿Estás listo para maximizar tu operación COVID-19?',
        contact: 'Contáctanos y comencemos',
        name: 'Nombre',
        lastName: 'Apellido',
        company: 'Empresa',
        position: 'Cargo',
        email: 'Email empresarial',
        phone: 'Teléfono',
        comments: 'Comentarios',
        send: 'ENVIAR'
      }
    },
    {
      lang: 'en',
      context: {
        welcome: "Let's coordinate a meeting to find the best solution for your needs.",
        question: 'Are you ready to maximize your COVID-19 operation?',
        contact: "Get in touch, we're all ears",
        name: 'First name',
        lastName: 'Last name',
        company: 'Company',
        position: 'Job title',
        email: 'Business email',
        phone: 'Phone',
        comments: 'Comments',
        send: 'SEND',
      }
    }
  ]

  function ChangeLang () {
    position.value = position.value === 0 ? 1 : 0
  }
</script>

<template lang="">
  <div class="min-h-screen">
    <div class="container">
      <TitlePage v-if="position === 0" title="Ejercicio 3" />
      <TitlePage v-else title="Exersice 3" />

      <span class="text-gray-900 text-sm dark:bg-gray-700 dark:text-white mr-5">
        {{ position === 0 ? 'Idioma' : 'Language' }}: {{ languages[position].lang }}
      </span>
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        @click="ChangeLang()"
      >
        {{ position === 0 ? 'Cambiar a Ingles' : 'Switch to Spanish' }}
      </button>

      <div class="grid gap-8 my-6 md:grid-cols-2">

        <!-- left -->
        <div class="gradient-background rounded-2xl height-max-card p-5">
          <div class="grid gap-6 mb-6 md:grid-cols-5">
            <h1 class="col-span-4 text-white my-3 text-4xl font-bold dark:text-gray-300">
              {{ languages[position].context.welcome }}
            </h1>
            <p class="col-span-3 text-white dark:text-gray-300 pt-5">
              {{ languages[position].context.question }}
            </p>
          </div>
        </div>

        <!-- right -->
        <div>
          <TitlePage :title="languages[position].context.contact" />
          <form>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                  {{ languages[position].context.name }}
                </label>
                <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
              </div>
              <div>
                <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                  {{ languages[position].context.lastName }}
                </label>
                <input type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Doe" required>
              </div>
              <div>
                <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                  {{ languages[position].context.company }}
                </label>
                <input type="text" id="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Flowbite" required>
              </div>
              <div>
                <label for="position" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                  {{ languages[position].context.position }}
                </label>
                <input type="url" id="position" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="flowbite.com" required>
              </div>
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                  {{ languages[position].context.email }}
                </label>
                <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required>
              </div>
              <div>
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                  {{ languages[position].context.phone }}
                </label>
                <input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
              </div>
              <div class="col-span-2">
                <label for="comments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                  {{ languages[position].context.comments }}
                </label>
                <textarea id="comments" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
              </div>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              {{ languages[position].context.send }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
/* 0deg | to bottom*/
.gradient-background{
  background: linear-gradient(120deg, #0b21c6, #049bff)
}
.height-max-card{
  height: 350px;
  max-height: 350px;
}
</style>
