<script setup>
  // Para poder hacer responsivo el navbar me e apoyado de Tailwind con Flowbite que ya trae componentes hechos como Bootstrap
  const menu = [
    {
      Id: 1,
      titulo: 'Inicio',
      href: 'home.php'
    },
    {
      Id: 7,
      titulo: 'Contacto',
      href: 'contact.php'
    },
    {
      Id: 6,
      titulo: 'Empresa',
      href: 'about.php'
    },
    {
      Id: 2,
      titulo: 'Laboratorio',
      href: 'laboratory.php'
    },
    {
      Id: 4,
      titulo: 'Alimentos',
      href: 'foods.php',
      subitme: []
    },
    {
      Id: 5,
      titulo: 'Diagnóstico Clínico',
      href: 'clinical-diagnostic.php'
    },
    {
      Id: 2,
      titulo: 'Productos',
      href: 'products.php'
    },
    {
      Id: 3,
      titulo: 'Software',
      href: 'software.php'
    }
  ]
  onMounted( () => {
    menu.sort((a, b) => {
      return a.Id - b.Id
    });
  })
</script>

<template lang="">
  <div>
    <!-- Navbar -->
    <nav class="border-gray-200 px-2 sm:px-4 py-2.5 bg-gray-100 dark:bg-gray-900">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <nuxt-link to="/" class="flex items-center shadow-img">
          <img src="/favicon.ico" class="mr-3 h-6 sm:h-9 shadow-img" alt="Flowbite Logo" />
        </nuxt-link>
        <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
          <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
            <li v-for="navbar in menu" :key="navbar.title" class="my-auto">
              <nuxt-link
                :to="navbar.href"
                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >
                {{ navbar.titulo }}
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Contenido -->
    <div class="min-h-screen">
      <div class="container">
        <TitlePage title="Ejercicio 1" />

        <p>
          Menú responsivo desde un objeto js dinámico, ordenándolo por id
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
</style>
