<script setup>
  const pathogens = [
    {
      name: 'Salmonella',
      id: 1,
      description: 'La infección por salmonela (salmonelosis)',
      deliveryTime: '8 hrs'
    },
    {
      name: 'Escherichia coli',
      id: 2,
      description: '(E. coli) es una bacteria presente frecuentemente',
      deliveryTime: '24 días'
    },
    {
      name: 'Staphylococcus aureus',
      id: 3,
      description: 'Staphylococcus aureus es la más peligrosa de',
      deliveryTime: '24 horas'
    },
    {
      name: 'Lysteria monocytogenecis 5',
      id: 4,
      description: 'Una enfermedad transmitida por',
      deliveryTime: '5 días'
    },
    {
      name: 'Salmonella 1',
      id: 5,
      description: 'La infección por salmonela (salmonelosis)',
      deliveryTime: '8 hrs'
    },
    {
      name: 'Escherichia coli 7',
      id: 22,
      description: '(E. coli) es una bacteria presente frecuentemente',
      deliveryTime: '1 hora'
    },
    {
      name: 'Staphylococcus aureus 5',
      id: 31,
      description: 'Staphylococcus aureus es la más peligrosa de',
      deliveryTime: '1 minuto'
    },
    {
      name: 'Lysteria monocytogenecis 5',
      id: 49,
      description: 'Una enfermedad transmitida por',
      deliveryTime: '5 días'
    },
    {
      name: 'Escherichia coli 7',
      id: 89,
      description: '(E. coli) es una bacteria presente frecuentemente',
      deliveryTime: '1 hora'
    },
    {
      name: 'Staphylococcus aureus 5',
      id: 100,
      description: 'Staphylococcus aureus es la más peligrosa de',
      deliveryTime: '1 minuto'
    },
    {
      name: 'Lysteria monocytogenecis 5',
      id: 200,
      description: 'Una enfermedad transmitida por',
      deliveryTime: '1 día'
    },
    {
      name: 'Staphylococcus aureus 5',
      id: 201,
      description: 'Staphylococcus aureus es la más peligrosa de',
      deliveryTime: '1 minuto'
    },
    {
      name: 'Lysteria monocytogenecis 5',
      id: 202,
      description: 'Una enfermedad transmitida por',
      deliveryTime: '5 días'
    },
    {
      name: 'Escherichia coli 7',
      id: 203,
      description: '(E. coli) es una bacteria presente frecuentemente',
      deliveryTime: '1 hora'
    },
    {
      name: 'Staphylococcus aureus 5',
      id: 206,
      description: 'Staphylococcus aureus es la más peligrosa de',
      deliveryTime: '1 minuto'
    },
    {
      name: 'Lysteria monocytogenecis 5',
      id: 208,
      description: 'Una enfermedad transmitida por',
      deliveryTime: '1 día'
    }
  ]
</script>

<template lang="">
  <div class="min-h-screen">
    <div class="container">
      <TitlePage title="Ejercicio 6" />

      <!-- Tabla -->
      <div class="tabla">
        <table>
          <thead>
            <tr>
              <td>
                Id
              </td>
              <td>
                Nombre
              </td>
              <td>
                Descripción
              </td>
              <td>
                Tiempo de espera
              </td>
              <td>
                Nombre
              </td>
              <td>
                Id
              </td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(pathogen, index) in pathogens" :key="index+'tr'">
              <td>
                {{ pathogen.id }}
              </td>
              <td>
                {{ pathogen.name }}
              </td>
              <td>
                {{ pathogen.description }}
              </td>
              <td>
                {{ pathogen.deliveryTime }}
              </td>
              <td>
                {{ pathogen.name }}
              </td>
              <td>
                {{ pathogen.id }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
/* cebra */
.tabla{
  width: 100%;
}
tr:nth-child(2n){
  background: #dedede;
}
tr:nth-child(5n){
  border-bottom: 2px solid black;
}
table{
  border: 1px solid #dedede;
}
thead{
  display: block;
}
tbody{
  display: block;
  width: 100%;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}
thead tr td {
  text-transform: uppercase;
  font-weight: bold;
  min-width: 100px;
}
tbody tr td {
  min-width: 100px;
}
thead tbody, tr td:last-of-type {
  max-width: 80px;
  width: 80px;
  min-width: 80px;
}
thead tbody, tr td:nth-child(3n){
  font-style: italic;
}
</style>
