<script setup>
  const form = ref({
    email: '',
    phone: '',
  })

  const comments = ref('') // max 200 caracteres

  const sendData = () => {
    console.log(form.value.phone)
    console.log(form.value.email)
  }

  let textOfParagraph = computed(() => {
    return comments.value.slice(0, 200)
  })
</script>

<template lang="">
  <div class="min-h-screen">
    <div class="container">
      <TitlePage title="Ejercicio 8" />

      <!-- session Storage -->
      <div class="pb-5">
        <TitlePage title="Guardar en Session Storage" />
        <form @submit.prevent="sendData()">
          <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Email
              </label>
              <input
                v-model="form.email"
                type="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="example@gmail.com"
                required
              >
            </div>
            <div>
              <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Telefono
              </label>
              <input
                v-model="form.phone"
                type="number"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="968 112 4595"
                max="10000000000"
                min="999999999"
                required
              >
            </div>
            <div class="mt-auto">
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Enviar
              </button>
            </div>
          </div>
        </form>

        <div class="pb-5">
          <TitlePage title="Comentarios con maximo de 200 caracteres" />
          <form @submit.prevent="sendComments()">
            <div class="col-span-2">
              <label for="comments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Comentarios
              </label>
              <textarea
                v-model="comments"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Your message..."
              ></textarea>
            </div>
          </form>
        </div>
        <div class="col-span-2">
          <h1 class="dark:text-white">
            Parrafo con max 200 caracteres
          </h1>
          <p class="dark:text-white break-all">
            {{ textOfParagraph }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
</style>
