<script setup>
</script>

<template lang="">
  <div class="min-h-screen">
    <div class="container">
      <TitlePage title="Ejercicio 5" />

      <!-- local Storage -->
      <div class="w-1/5 pb-5">
        <div class="hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 p-2.5">
          <svg class="w-6 h-6 svg-animate" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="css" scoped>
.svg-animate{
  color: #fa0000;
  width: 23px;
  height: 23px;
  transition: width 2s, height 2s,  color 2s;
}
.svg-animate:hover{
  color: #19fa00;
  width: 80px;
  height: 100px;
  transform: rotate(90deg);
}
</style>
