<script>
export default {
  props: {
    saludo: {
      type: String,
      default: 'venia vacio',
      required: false
    }
  },
  async asyncData ({ store, route }) {
		await store.dispatch('classifieds/getCategories')
		await store.dispatch('classifieds/getPlans')
	},
  beforeCreated () {
  },
	data: () => ({
    carro: {
      llantas: '',
      carroseria: ''
    }
  }),
  beforeMount () {
  },
  mounted () {
  },
  created () {
  },
  methods: {
    saludar () {
      console.log('Saludando ando')
    }
  },
  computed: {
    variable: () =>{
      return ' con otro saludo: Hola'
    }
  }

}
</script>

<template lang="">
  <div class="min-h-screen">
    <div class="container">
      <TitlePage title="Ejercicio 11" />

      <p>
        variable: {{ variable }}
      </p>
      <p>
        carro: {{ carro }}
      </p>
    </div>
  </div>
</template>

<style lang="css" scoped>
</style>
