<script setup>
  useHead({
    title: 'Examen',
    viewport: 'width=device-width, initial-scale=1, maximum-scale=1',
    charset: 'utf-8',
    meta: [
      { name: 'description', content: 'Prueba' }
    ],
  })
</script>

<template lang="">
  <div>
    <div class="container">
      <TitlePage title="Hola" />
    </div>
  </div>
</template>

<style lang="css">
</style>
