<script setup>
  const exercises = [
    { title: 'Ejercicio 1', href: '/ejercicios/1' },
    { title: 'Ejercicio 2', href: '/ejercicios/2' },
    { title: 'Ejercicio 3', href: '/ejercicios/3' },
    { title: 'Ejercicio 4', href: '/ejercicios/4?user=1234' },
    { title: 'Ejercicio 5', href: '/ejercicios/5' },
    { title: 'Ejercicio 6', href: '/ejercicios/6' },
    { title: 'Ejercicio 8', href: '/ejercicios/8' },
    { title: 'Ejercicio 11', href: '/ejercicios/11' },
  ]
</script>

<template lang="">
  <div class="min-h-screen">
    <div class="container">
      <TitlePage title="Ejercicios" />
      <div class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-2 gap-3">
        <div v-for="(exercise, index) in exercises" :key="index">
          <nuxt-link :to="exercise.href" class="efect-float block p-3 bg-white rounded-lg border border-gray-200 shadow-md active:bg-gray-300 dark:active:bg-gray-700 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600 focus:outline-none focus:ring focus:ring-blue-600">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
              {{ exercise.title }}
            </h5>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="css">
</style>
